.contain{
  width: 100%;
  max-width: 1140px;
  margin: auto;
}
@media (max-width: 1165px) {
    .contain{
        padding-right: 24px !important;
        padding-left: 24px !important; 
    }
}

#main-navigation,
#main-navigation{
  position: absolute;
  top:0.5em;
  left:0;
  width:100%;
}

#main-navigation ul,
#main-navigation ul{
  overflow: auto;
  zoom:1;

  width:100%;
  max-width: 1140px;
  margin:auto;
}

#main-navigation li,
#main-navigation li{
  float: right;
}
#main-navigation li:first-child,
#main-navigation li:first-child{
  margin-right:0.5em;
}

#main-navigation li span.delimiter,
#main-navigation li span.delimiter{
  display: none;
}

#main-navigation a,
#main-navigation a{
  text-transform: uppercase;
  display: block;
  margin: 0 0.4em;
}
#main-navigation a:link, 
#main-navigation a:visited {
    color: rgba(255,255,255,.5) !important;
}
#main-navigation a:active, 
#main-navigation .active-link a, 
#main-navigation .folder .active-folder {
    color: #fff !important;
}

#main-navigation a.active, 
#main-navigation a.parent-of-active {
    font-weight: bold;
}


#main-navigation a:link:hover, 
#main-navigation a:visited:hover {
    color:#fff !important;
}


body.banner-content-page-title-description #page-title-wrapper{
  position: absolute;
  top:0;
  height:100px;
  padding:200px 0;
}
#banner-area{
  max-width: none;
  padding:0 !important;
  height: 500px;
  overflow: hidden;
}
#banner-area-wrapper{
  overflow: hidden;
  background-color: #000;
}

#banner-area-wrapper img.fill {
 
  opacity: 0.7;
}
#banner-area-wrapper .site-subtitle, 
#banner-area-wrapper .page-description p, 
#banner-area-wrapper .logo-subtitle{
  color:#fff;
}
.subnav{
  position: relative;
  top: -50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
}

.subnav ul{
  padding:0;
}
.subnav ul li{
  display: inline-block;
  margin-right:15px ;
  margin-top:12.5px;
  color:#fff;
}
.subnav ul li:first-child{
  border-right: 1px solid #fff;
  padding-right: 1em;
  text-transform: uppercase;
}
.subnav ul li a{
  color:#fff;
  color:rgba(255, 255, 255, 0.7);
}
.subnav ul li a.subnav-active{
  border-bottom:1px solid rgba(255, 255, 255, 0.3);
}
.subnav ul li a:hover{
  color:rgba(255, 255, 255, 1);
  border-color:#fff;
}

.view-item #main-navigation{
  
}

.view-item #main-navigation a:link, 
.view-item #main-navigation a:visited {
  color: rgba(0,0,0,.5) !important;
}
.view-item #main-navigation a:active, 
.view-item #main-navigation .active-link a, 
.view-item #main-navigation .folder .active-folder {
  color: #000 !important;
}
.view-item .subnav{
  display: none;
}
.view-item #banner-area-wrapper{
  display: none;
}
.view-item .content-wrapper .entry-title{
  display: none;
}

#no-banner-wrapper{
  padding:50px 0;
}
#no-banner-wrapper h1{
  color:#000;
}
#no-banner-wrapper + .subnav{
  position: static;
  background: rgba(0,0,0,.8);
}
#no-banner-wrapper #page-title-wrapper{
  position: static !important; 
  height:auto !important;
  padding:0 !important;
}
#no-banner-wrapper #page-description p{
    margin-left: 0;
}
#page-description p{
    color: #999;
}


.show-cart-page #main-navigation a:link, 
.show-cart-page #main-navigation a:visited,
#no-banner-wrapper #main-navigation a:link, 
#no-banner-wrapper #main-navigation a:visited {
    color: rgba(0,0,0,.8) !important;
}
.show-cart-page #main-navigation a:active, 
.show-cart-page #main-navigation .active-link a, 
.show-cart-page #main-navigation .folder .active-folder 
#no-banner-wrapper #main-navigation a:active, 
#no-banner-wrapper #main-navigation .active-link a, 
#no-banner-wrapper #main-navigation .folder .active-folder {
    color: #000 !important;
}