.subsections{
  margin:2em 0;
}

.featured-link{
  float:left;
  padding: 1.5em;
  border: 2px solid #121212;
  text-align: center;
}
.featured-link h3{
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;

}


.recent-projects{
  margin-top:2em 0;
}
.preview-item a{

}
.preview-item .image-container{
  overflow: hidden;
  height:200px;
  width:100%;
}
.preview-item .image-container img{
  width:100%;
}
.preview-item h2{
  margin-top:0.5em;
  margin-bottom:0;
}
.preview-item .description{

}
.preview-item .description *:first-child{
  margin-top:0;
}

