#main-navigation,
#main-navigation{
  position: absolute;
  top:0.5em;
  left:0;
  width:100%;
}

#main-navigation ul,
#main-navigation ul{
  overflow: auto;
  zoom:1;

  width:100%;
  max-width: 1400px;
  margin:auto;
}

#main-navigation li,
#main-navigation li{
  float: right;
}
#main-navigation li:first-child,
#main-navigation li:first-child{
  margin-right:0.5em;
}

#main-navigation li span.delimiter,
#main-navigation li span.delimiter{
  display: none;
}

#main-navigation a,
#main-navigation a{
  text-transform: uppercase;
  display: block;
  margin: 0 0.4em;
}
#main-navigation a:link, 
#main-navigation a:visited {
    color: rgba(255,255,255,.5) !important;
}
#main-navigation a:active, 
#main-navigation .active-link a, 
#main-navigation .folder .active-folder {
    color: #fff !important;
}
#main-navigation a:link:hover, 
#main-navigation a:visited:hover {
    color:#fff !important;
}
    
#banner-area-wrapper{
  overflow: hidden;
  background-color: #000;
}
#banner-area-wrapper img.fill {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  /*z-index: -1;*/
  opacity: 0.7;
}
#banner-area-wrapper .site-subtitle, 
#banner-area-wrapper .page-description p, 
#banner-area-wrapper .logo-subtitle{
  color:#fff;
}
.subnav{
  position: relative;
  top: -50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
}

.subnav ul{
  width:100%;
  max-width: 1140px;
  margin:auto;
  padding:0;
}
.subnav ul li{
  display: inline-block;
  margin-right:15px ;
  margin-top:12.5px;
  color:#fff;
}
.subnav ul li a{
  color:#fff;
  color:rgba(255, 255, 255, 0.7);
}
.subnav ul li a.active{
  border-bottom:1px solid rgba(255, 255, 255, 0.3);
}
.subnav ul li a:hover{
  color:rgba(255, 255, 255, 1);
  border-color:#fff;
}

.view-item #main-navigation a:link, 
.view-item #main-navigation a:visited {
  color: rgba(0,0,0,.5) !important;
}
.view-item #main-navigation a:active, 
.view-item #main-navigation .active-link a, 
.view-item #main-navigation .folder .active-folder {
  color: #000 !important;
}
.view-item .subnav{
  display: none;
}
.view-item #banner-area-wrapper{
  display: none;
}