.subsections{
  margin:2em 0;
}

.featured-link{
  float:left;
  width:250px;
  padding:2em;
  border: 1px solid #666;
}
.featured-link h2{
  margin: 0;
}


.recent-projects{
  margin-top:2em 0;
}
.preview-item a{

}
.preview-item .image-container{
  overflow: hidden;
  height:200px;
  width:100%;
}
.preview-item .image-container img{
  width:100%;
}
.preview-item h2{
  margin-top:0.5em;
  margin-bottom:0;
}
.preview-item .description{

}
.preview-item .description *:first-child{
  margin-top:0;
}

